<p style="color: green"><%= notice %></p>

<div id="mining_types" class="p-4">
  <h1><%= "#{MiningType.model_name.human(count: @mining_types.count)}" %></h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= @mining_types.human_attribute_name(:description)%></th>
        <th><%= @mining_types.human_attribute_name(:acronym)%></th>
      </tr>
    </thead>
    <tbody>
    <% @mining_types.each do |mining_type| %>
      <%= render mining_type %>
    <% end %>
    </tbody>
  </table> 

  <%= link_to t("new.mining_type"), new_mining_type_path, class: "btn btn-primary" %>
</div>


