<tr id="<%= dom_id coin %>">
  <td>
    <strong></strong>
    <%= coin.description %>
  </td>

  <td>
    <strong></strong>
    <%= coin.acronym %>
  </td>

  <td>
    <strong></strong>
    <%= image_tag coin.url_image, size:"25x25" %>
  </td>

  <td>
    <strong></strong>
    <%= link_to t("links.show"), coin %>
  </td>
</tr>
