<p style="color: green"><%= notice %></p>



<div id="coins" class="p-4">
    <h1><%= "#{Coin.model_name.human(count: @coins.count)}" %></h1>

    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= @coins.human_attribute_name(:description)%></th>
          <th><%= @coins.human_attribute_name(:description)%></th>
          <th><%= @coins.human_attribute_name(:description)%></th>
        </tr>
      </thead>
      <tbody>
      <% @coins.each do |coin| %>
        <%= render coin %>
      <% end %>
      </tbody>
    </table>

    <%= link_to t("new.coin"), new_coin_path, class: "btn btn-primary" %> 
</div>


