<p style="color: green"><%= notice %></p>

<h1>Moedas</h1>
<h2><%= cookies[:curso] %></h2>
<h2><%= session[:curso] %></h2>

<div id="coins">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Descrição:</th>
          <th>Sigla:</th>
          <th>Imagem:</th>
        </tr>
      </thead>
      <tbody>
      <% @coins.each do |coin| %>
        <%= render coin %>
      <% end %>
      </tbody>
    </table> 
</div>

<%= link_to "Nova moeda", new_coin_path %>
