<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'admin_devise'%>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>TimeToAnswer</title>

    <!-- Custom fonts for this template-->
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
</head>

<body class="bg-gradient-primary">
    
    <div class="container">
      <%= yield %>
        <!-- Outer Row -->
    </div>

    <% if flash %>
      <% flash.each do |key, value| %>
          <%= javascript_tag do %>
          $.bootstrapGrowl('<%= value %>', {
          type: 'danger',
          align: 'right',
          allow_dismiss: true,
          stackup_spacing: 10
          });
          <% end %>
      <% end %>
    <% end %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'admin_devise' %>
</body>

</html>